body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #ee0e29;
}

main{
    text-align: center;
}

.container{
    padding: 0 35%;
}

label{
    display: block;
}

input{
    padding: 3%;
    margin-bottom: 15px;
}

textarea{
    margin-bottom: 3%;
}

option{
    display: block;
}

select{
    display: block;
    margin: 0px auto 15px;
}

.metodoPagamento label {
    display: inline-block;
}

.opcionais label {
    display: inline-block;
}

.botoes{
    margin-top: 5%;
}