@import '../colors/colors.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

#header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    h3 {
        &::first-letter {
            color: $red;
        }
        &:hover {
            color: $blue;
        }
    }
    .menu {
        display: flex;
        li {
            margin-left: 4px;
            a {
                display: block;
                padding: 10px;
            }
        }
    }
}

a {
    color: $purple;
    padding: 10px 30px;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    &:hover {
        background-color: $red;
        color: $black;
    }
}

.btn {
    &-info {
        background: $gray;
    }
    &-danger {
        background: $red;
    }
}

article {
    background-color: $gray;
    +article {
        margin-top: 30px;
    }
}